* {
  box-sizing: border-box;
  font-family: verdana, arial, helvetica, sans-serif;
}

label[for] {
  cursor: pointer;
}

.slides {
  overflow: hidden;

  position: relative;

  .slide-radio {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    clip: rect(0, 0, 0, 0);
  }

  .slide {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: absolute;
    opacity: 0;
    transition: .5s;
    transform: translate(-100%, 0);
  }

  .slide-container {
    width: 160px;
    margin: 0 auto;
  }

  .slide-radio:checked + .slide {
    position: static;
    opacity: 1;
    transform: translate(0, 0);
    z-index: 11;
  }

  .slide-radio:checked + .slide ~ .slide {
    transform: translate(100%, 0);
  }

  .slide-arrows {
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
}

.labels {
  text-align: center;
  label {
    display: inline-block;
    padding: 5px;
    border-bottom: 3px solid #ddd;
    transition: .5s;
    &.checked {
      border-color: #000;
    }
  }
}